<!DOCTYPE html>
<html>
<head>
  <title>PhishScan About</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" href="/images/phishscan_icon.png">
</head>
<body>
  <div class="navbar">
    <a href="/"><img src="/images/phishscan_icon.png"alt="Icon" width="64" height="64"></a>
    <a href="/form">Form</a>
    <a href="/add">Blacklist</a>
    <a href="/about">About</a>
   <!--Add more navigation links as needed -->
  </div>
  <div class="about-page">
    <div class="about-mission">   
          <h2>Our Mission</h2>
          <p>At our website, our foremost mission is to ensure your online safety and security in the face of emerging cyber threats. We are dedicated to empowering users like you with a robust text classification model that accurately predicts whether an email subject and content are phishing-related or not. However, we don't stop there – to provide an extra layer of protection, we integrate a comprehensive URL blacklist into our system.</p>
      </div>
  <div class="about-section">
    <div class="about-content">
      <h2>Our Blacklist</h2>
      <p>The website maintains a comprehensive and dynamic database dedicated to combating cyber threats by collecting and curating malicious URLs to be included in a blacklist. This valuable resource serves as a proactive defense mechanism against various forms of cyber attacks, such as phishing, malware distribution, and other harmful activities that exploit unsuspecting users. The database continuously evolves, staying up-to-date with emerging threats and the ever-changing landscape of cybersecurity risks. By harnessing the power of community contributions and automated monitoring, the database plays a crucial role in safeguarding users, businesses, and organizations worldwide. Its constant vigilance and commitment to identifying and cataloging malicious URLs empower security professionals and website administrators to enhance their defense strategies, ensuring a safer and more secure digital ecosystem for everyone.</p>
    </div>
    <div class="about-image">
      <img class="image" src="/images/blacklist.png" alt="Image 1">
    </div>
  </div>

  <div class="about-section">
    <div class="about-image">
      <img class="image" src="/images/machine-learning.png" alt="Image 2">
    </div>
    <div class="about-content">
      <h2>Our Content Classifier</h2>
      <p>Our advanced text classification model is powered by state-of-the-art machine learning algorithms. It has been trained on vast datasets of legitimate and phishing-related emails to develop a deep understanding of the characteristics that differentiate them. When you submit an email subject and content to our model, it quickly analyzes the text and assigns a probability score indicating the likelihood of it being a phishing attempt.</p>
    </div>
  </div>
</div>
</body>
</html>