<!DOCTYPE html>
<html>
<head>
  <title>PhishScan Form</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" href="/images/phishscan_icon.png">
</head>
<body>
  <div class="navbar">
    <a href="/"><img src="/images/phishscan_icon.png"alt="Icon" width="64" height="64"></a>
    <a href="/form">Form</a>
   <!--Add more navigation links as needed -->
  </div>
  <div class="container">
    <h1>Input Your Email!</h1>
    <form action="{{ url_for('form')}}" method="post">
      <div class="form-group">
      <label for="email-subject">Email Subject:</label>
      <input class="input" type="text" id="email-subject" name="email-subject" required>
      </div>
      <div class="form-group">
        <label for="email-url">URLs:</label>
        <input class="input" type="text" id="email-url" name="email-url" >
        </div>
      <div class="form-group">
      <label for="email-content">Email Content:</label>
      <textarea class="input" id="email-content" name="email-content" required></textarea>
      </div>
      <!-- <div class="form-group">
        <label for="email-closing">Closing Regards:</label>
        <input class="input" type="text" id="email-closing" name="email-closing" >
        </div> -->
      <button class="button" type="submit">Check</button>
      </form>
  </div>
</body>
</html>